.container {
    margin: 2rem auto;
    text-align: center;
}

input {
    display: block;
    margin: 1rem auto;
}

.select-container {
    margin: 2rem;
}

#show-gifs ul {
    list-style-type: none;   
}