/* Homework for Hack Your Future - JavaScript2 Week 3
Fastest presser game
Made by Lilla Kőrösi */

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

/* Header */
h1 {
  color: #f7fad1;
  font-family: 'Luckiest Guy', cursive;
  font-size: 4rem;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 50px;
  text-align: center;
  text-shadow: 1px 1px 2px #082b34;
  width: 100vw;
  text-shadow: 5px 5px rgb(110, 60, 91);

  -webkit-animation-name: wiggle-h1;
  -webkit-animation-duration: 3000ms;
  -webkit-transform-origin: 50% 50%;
}
@-webkit-keyframes wiggle-h1 {
  0% {
    -webkit-transform: translate(10px, 10px);
  }
  20% {
    -webkit-transform: translate(-10px, -10px);
  }
  40% {
    -webkit-transform: translate(1px, 1px);
  }
  60% {
    -webkit-transform: translate(-10px, -10px);
  }
  80% {
    -webkit-transform: translate(10px, 10px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}

p {
  color: #ffffff;
  font-family: 'Karma', serif;
  font-size: 1.3rem;
  line-height: 24px;
  margin: 0 0 24px;
}

header {
  width: 100vw;
  height: 35%;
  background-color: rgb(47, 135, 157);
  position: relative;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  text-align: center;
}
/* Set game */
.setGame {
  background-color: rgb(47, 135, 157);
  width: 100%;
  text-align: center;
  padding: 0 0 2rem 0;
}

h2 {
  color: #a7e8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
  text-shadow: 1px 1px 1px #082b34;
}

.start-game-sign {
  padding-left: 2rem;
}

.inlineBlock {
  display: inline-block;
}
/* Select and options */

/* Select time part */
.select-time {
  display: inline-block;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;

  max-width: 100%;
  box-sizing: border-box;
  margin: 1rem;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.select-time::-ms-expand {
  display: none;
}
.select-time:hover {
  border-color: #888;
}
.select-time:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.select-time option {
  font-weight: normal;
}

.pressKey {
  padding: 1rem;
  font-family: 'Karma', serif;
  color: white;
  font-size: 2rem;
  font-weight: 100;

  -webkit-animation-name: wiggle;
  -ms-animation-name: wiggle;
  -ms-animation-duration: 1000ms;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
  }
  50% {
    -webkit-transform: rotate(20deg);
  }
  75% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@-ms-keyframes wiggle {
  0% {
    -ms-transform: rotate(0deg);
  }
  25% {
    -ms-transform: rotate(-1deg);
  }
  50% {
    -ms-transform: rotate(1.5deg);
  }
  75% {
    -ms-transform: rotate(-5deg);
  }
  100% {
    -ms-transform: rotate(0deg);
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.counterLeft,
.counterRight {
  padding: 1rem;
  font-family: 'Luckiest Guy', cursive;
  color: white;
  font-size: 2rem;
  font-weight: 100;
}

/* Button */
button {
  -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #f9f9f9),
    color-stop(1, #e9e9e9)
  );
  background: -moz-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -webkit-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -o-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: -ms-linear-gradient(top, #f9f9f9 5%, #e9e9e9 100%);
  background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9',GradientType=0);
  background-color: #f9f9f9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #dcdcdc;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: Arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
button:hover {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.05, #e9e9e9),
    color-stop(1, #f9f9f9)
  );
  background: -moz-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -webkit-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -o-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: -ms-linear-gradient(top, #e9e9e9 5%, #f9f9f9 100%);
  background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9',GradientType=0);
  background-color: #e9e9e9;
}
button:active {
  position: relative;
  top: 1px;
}

/* Display counts and countdown */
#countdown {
  color: white;
  font-size: 2rem;
  font-family: 'Karma', serif;
  text-shadow: 2px 2px rgb(110, 60, 91);
}

.countdown-timer {
  padding: 2rem;
  text-align: center;
  width: 100%;
  background-color: rgb(61, 71, 71);
}

section {
  background-color: rgb(61, 71, 71);
}

.clickArea {
  width: 50%;

  text-align: center;
  border: 1px solid gray;
  border-top: 1px transparent;
  border-radius: 5px;
}

.containerClickArea {
  width: 100vw;
  height: 20rem;

  display: flex;
}
