/* .card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
} */

.align-center {
    margin: 1rem auto; 
}

.center {
    text-align: center;
}

#user-result-container {
    margin: 2rem auto;
    padding: 1rem 2rem;
}

#card-container {
    
}
