/* === CSS RESET === */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {line-height: 1;}
ol, ul {list-style: none;}

blockquote, q {	quotes: none;}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* === Global rules === */
body {
    width: 100vw;
    background-color: #fff;
}

a {text-decoration: none;}

.container {
    width: 80%;
    margin: 2rem auto;
    background-color: #fff;
}

h1, h2 {font-family: 'Merriweather', serif;}

p, label, a, input {font-family: 'Lora', serif;}




/* === Header === */
.header-container {
    width: 100%;
    margin: 0 auto;
    background-color:#fff;
}

.header-wrap {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


/* Logo */
.logo-container {
    display: flex;
    align-items: center;
    padding: .5rem 0;    
}

header img {
    max-width: 50px;
    max-height: 50px;
    width: auto;
    height: auto;
    padding: 0 1rem;    
}

.logo-text {
    color: rgb(78, 42, 13);
    font-size: 2rem;
}

/* Navigation */

nav {width: 50%;}

nav ul li {padding: 1rem;}

nav a {
    font-size: 1.3rem;
    color: rgb(88, 39, 5);
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav ul .active {
    color: rgba(36, 16, 2, 0.788);
    padding: 1rem;
    background-color: rgba(65, 31, 104, 0.11);
}


/* === Section === */
.header-photo img {width: 100vw;}

.header-photo h2 {
    position: absolute;
    z-index: 1;
    font-size: 2rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.more-button {
    color: white;
    position: absolute;
    font-size: 1.5rem;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.178);
}

.more-button:hover {background-color: rgba(255, 255, 255, 0.664);}

.around-header-text {
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section h6 {display:none;}




/* === INTRO SECTION === */
.intro-section {
    width: 95%;
    margin: 2rem auto;
    color:rgb(78, 42, 13);
}

.intro-text {padding: 1rem;}

.intro-section h1 {
    font-size: 2rem;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;    
}

.intro-section p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
}

/* == Progress bar == */
progress[value] {
    /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
    width: 100%;
    height: 1rem;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
    background-image:
         -webkit-linear-gradient(-45deg, 
                                 transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                 rgba(0,0, 0, .1) 66%, transparent 66%),
         -webkit-linear-gradient(top, 
                                 rgba(255, 255, 255, .25), 
                                 rgba(0, 0, 0, .25)),
         -webkit-linear-gradient(left, rgb(5, 83, 38), rgb(16, 196, 196));
  
      border-radius: 2px; 
      background-size: 35px 20px, 100% 100%, 100% 100%;
}

/* === FORM === */
label {
    font-size: 1.2rem;
    font-weight: bold;
}

/* Form layout */
form {
    width: 60%;
    margin: 0 auto;
    font-family: 'Open Sans Condensed', arial, sans;	
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
}

form h2 {
    background: rgba(79, 82, 81, 0.829);
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ccc4c4;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
    margin: -30px -30px 30px -30px;
}

input, option, select  {
    box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}

input[type=submit] {
    -moz-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	-webkit-box-shadow: inset 0px 1px 0px 0px #45D6D6;
	box-shadow: inset 0px 1px 0px 0px #45D6D6;
	background-color: #2CBBBB;
	border: 1px solid #27A0A0;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
}

input[type=submit]:hover {
    background:linear-gradient(to bottom, #34CACA 5%, #30C9C9 100%);
	background-color:#34CACA;
}

.checkbox-dropdown {
    display: inline;
    padding: 1rem;
    height: 1rem;
}

form p {font-size: 1.3rem;}


.form-greeting {padding: 1.5rem 0;}

.form-divs {padding: 1rem;} 

textarea {width: 70%;}

.form-textarea {
    text-align: center;
    width: 100%;
}

.form-profile {display: flex;}

.profile-desc_headline {
    display: block;
    max-width: 50%;
}

small {
    display: block;
    padding-top: 1rem;
}

.profile-desc {width: 30%;}



.shipping-toggle {display: none;}

input.checkbox-dropdown:checked ~ .shipping-toggle {display: block;}

#newsletter-buttons label {padding: 1rem;}

.newsletter-radio-button {display: flex;}

/* Checkboxes on Page 3 */
.page3_checkboxes {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}
.page3_checkbox {padding: 1rem;}

.page3_checkboxes li {display: inline-block;}

.page3_checkboxes input[type=checkbox] + label {
    display: block;
    margin: .2rem;
    cursor: pointer;
    padding: .2rem;
}

.page3_checkboxes input[type=checkbox] {display: none;} 

.page3_checkboxes input[type=checkbox] + label:before {
    content:"\2714";
    border: .1rem solid black;
    border-radius: .2rem;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    padding: .3rem .2rem;
    margin-right: .2rem;
    vertical-align: bottom;
    color: transparent;
    transition: .2s;
}


.page3_checkboxes input[type=checkbox] + label:active:before {transform: scale(0);}

.page3_checkboxes input[type=checkbox]:checked + label:before {
    background-color: mediumseagreen;
    border-color: mediumseagreen;
    color: #fff;
}

/* = Images on page3 = */
.images-headline {padding-bottom: 1rem;}


.photo-container {
    width: 100%;
    /*position: relative;*/
    margin: 1rem;
}

.photos li {
    width: 20%;
    margin: 1rem;
} 

.photos {
    display: flex;
    flex-wrap: wrap;
}

.photos input {display: none;}

.photos label {
    display: block;
    position: relative;
    cursor: pointer;
}

.photos label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    border: 1px solid rgb(32, 92, 59);
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
}

.photos img {
height: 100%;
  width: 100%;
  transition-duration: 0.2s;
  transform-origin: 50% 50%;
}

:checked + .photo-label {
    border-color: #ddd;
}

:checked + .photo-label:before {
    content: "✓";
    background-color: mediumseagreen;
    transform: scale(1);
    z-index: 1;
}

:checked + label img {
    transform: scale(1.2);
    box-shadow: 0 0 5px #333;
}

/* Submit button */
.submit-button {text-align: right;}

