/* Global Rules */
img { width: 150px;}

a {
    text-decoration: none;
    color: rgb(102, 102, 51)
}

ul {
    list-style: none;
    padding-left: 0;
}

h1, h2 {
    font-family: 'Libre Baskerville', serif;
    color: rgb(85, 85, 43);
}

 h3, h4, p, a, li {font-family: 'Source Sans Pro', sans-serif;}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}

/* The containers do not start from the top of the page directly. */
.cover {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Background has a color. */
.layer {
    background-color: rgb(204, 204, 153, .3);
}

/* Background */ 
body {
    background: url("background.jpg");
    background-size: auto;
    background-repeat: repeat;
    background-position: center;
    background-attachment: local;
    margin: 0;
}

/* Container styling */
.container {
    background: rgb(255, 255, 255, .8);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    box-shadow: 5px 5px 2px #4d4d33;
}

/* === Header === */ 
.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
    padding: 1.5rem 0 0 1.5rem;
    text-align: left;
}

.header-right {width: 40%;}

.header-content h1 {
    margin-bottom: .5rem;
    margin-top: 1rem;    
}

.about {
    font-size: 1.25rem;
}

.header-content h2 {
    margin-top: 0;
}

.header-content li {
    display: inline-block;
    padding: .3rem;
}

i {
    display: inline-block;
    padding: .3rem;
}

.header-content a {
    font-size: 1.126rem;
    color: rgb(102, 102, 51)
}

.header-content a:hover {
    color: rgb(179, 68, 0);

}

/* Profile image */
img {
    display: block;
    margin: 2rem auto 2rem auto;
    border-radius: 9999px; 
}

/* === Menu-bar === */
.menu ul {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.menu li {
    width: 34%;
    text-align: center;
    padding: 0;
    background-color: rgb(153, 0, 51);
}
    
.menu li a {
    display: block;
    font-size: 1.1rem;
    padding: 1rem 0;
    font-weight: bold;
    color: rgb(204, 204, 153);
}

.menu li:hover .menu-option {
    background-color: rgb(204, 204, 153);
    color: rgb(153, 0, 51);
}

/* === Main === */
.headline {
    text-align: center;
    padding: 1.5rem;
    background-color: rgb(153, 0, 51);
    color: rgb(204, 204, 153);
    text-shadow: 1px 1px 2px rgb(102, 102, 51);
}

.content {padding: 0 1rem;}


/*  -- Education and Work sections -- */
.name-of {margin-bottom: .126rem;}

.place {margin-bottom: 0;}

.content li p {
    margin-top: .5rem;
    margin-bottom: 3rem;
    display: block;
}

.content {padding-bottom: .125rem;}

.content li .block {
    display: flex;
    justify-content: space-between;
} 

.content li h3, h4 {display: inline-block;}

.block {display: block;}

.strategies {
    list-style: circle;
    padding-left: 2rem;
}

.links li {display: inline;}

.links {margin-bottom: 0;}

.links {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 1rem;
}